.logo{
	width: 30px;
	height: 30px;
}
.item{
	font-family: 'Lobster', cursive;
}
nav{
	font-family: 'Cabin', sans-serif;
}
.carousel{
	.slides{
		width: 100%;
		min-height: 300px;
	}
}
#slideHeader{
	width: 80%;
	height: 80%;
}
.text{
	text-align: center;
	margin: 100px auto;
	font-family: 'Cabin', sans-serif;
	
	h2{
		color:red;
		font-weight: bold;
	}
}
.col-centered{
float: none;
margin: 0 auto;
	p{
		margin: 40px auto;
		line-height: 25px;
	}
}
#sec3{
	display: flex;
	flex-direction: row;
}
.one{
	width: 50%;
	img{
		width: 100%;
	}
	
}
.two{
	width: 50%;
	background: rgb(255, 242, 237);
	text-align: center;
	h1{
		margin-top: 80px;
		color: rgb(255, 126, 102);
		font-family: 'Cabin', sans-serif;
		font-weight: bold;
		margin-bottom: 30px;
	}
	p{
		margin: 30px auto;
		color:#b9b2af;
		width: 60%;
		
		
		
	}
}
////////////// scroll bar//////////////
::-webkit-scrollbar
{
  width: 12px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}
//////////////////////////////////////////

///////////slider 2//////////////
#carousel2{
	.item{
		text-align: center;
	}
	h1{
		font-family: 'Monoton', cursive;
		color: red;
		font-size: 50px;
	}
	p{
		display: block;
		width: 60%;
		margin: auto;
	}
	.price{
		font-size: 40px;
		margin: 20px auto;
		font-family: 'Irish Grover', cursive;
	}
	.order{
		background: transparent;
		border: 2px solid white;
		margin-bottom: 50px;
	}
}
/////////////////SECTION 6/////////////////
#six{
	
	a{
		text-decoration: none;
		color: black;
		font-weight: 700;
		margin-top: 10px;
		
	}
	.row{
		margin:30px auto;
	}
	.col-lg-4{
		
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		img{
			height: 50px;
		}
	}
	.border{
		border-right: 1px solid black;
	}
	
}
///////////////section 7 gallery//////////////
#seven{
	.row1{
		display: flex;
		flex-direction: row;
		height:50vh;
		}
	.w25{
		width: 25%;
		background: #fff2ed;
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: 'Monoton', cursive;
		font-size: 30px;
		letter-spacing: 10px;
		color:#ff7e66;
	}
	.w50{
		width: 50%;
	}
	.pic{
		background-image: url(../img/gallery4.jpg);
		background-size: cover;
		z-index: 1;
		.cake{
			width: 80%;
			height: 80%;
			background: rgba(240, 27, 22, 0.8);
			z-index: 2;
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			letter-spacing: 1px;;
			p{
				color: white;
			}
		}
	}
}
//////////////////section8/////////////////
.pan1{
	background-image: url(../img/panel1.jpg);
}
.pan2{
	background-image: url(../img/panel2.jpg);
}
.pan3{
	background-image: url(../img/panel3.jpg);
}
.pan4{
	background-image: url(../img/panel4.jpg);
}